@charset "UTF-8";

.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
	font: 11px sans-serif;
}

/* Everything but the gets side spacing for mobile first views */
.header, .footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header, .footer {
		padding-left: 0;
		padding-right: 0;
	}

	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
}

.tot_ms_view {
	height: 450px;
}

.graph {
	height: 350px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
	color: #585956;
}

.line {
	stroke: black;
	fill: none;
	stroke-width: 0.75px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.focus circle {
	fill: none;
}

.focus line {
	stroke: purple;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brushstart .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brushend .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brushed_range {
	font: 11px sans-serif;
	fill: #585956;
}

.legend rect {
	fill: white;
	/* 	stroke: #7e7f74; */
	opacity: 0.9;
}

#states path {
	fill: #ccc;
	stroke: #fff;
}

circle {
	fill: steelblue;
	fill-opacity: .6;
	stroke: #fff;
}

.line.area {
	stroke: steelblue;
	fill-opacity: .1;
	fill: steelblue;
}

/* judge */
.line.linejudge {
	stroke: #CC0000;
	fill-opacity: .1;
	stroke-width: 0.1;
}

.line.areajudge {
	stroke: #CC0000;
	fill-opacity: .2;
	fill: #CC0000;
}

.focus circle.yjudge {
	stroke: #CC0000;
}

.focus line.yjudge {
	stroke: #CC0000;
	stroke-dasharray: 1 1;
	opacity: .5;
}

/* nsl_ms */
.line.linensl_ms {
	stroke: #81bc00;
}

.focus circle.ynsl_ms {
	stroke: #81bc00;
}

.focus line.ynsl_ms {
	stroke: #81bc00;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* con_ms */
.line.linecon_ms {
	stroke: #7e7f74;
}

.focus circle.ycon_ms {
	stroke: #7e7f74;
}

.focus line.ycon_ms {
	stroke: #7e7f74;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* tfb_ms */
.line.linetfb_ms {
	stroke: #ffa400;
}

.focus circle.ytfb_ms {
	stroke: #ffa400;
}

.focus line.ytfb_ms {
	stroke: #ffa400;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* tot_ms */
.line.linetot_ms {
	stroke: #7D602B;
}

.focus circle.ytot_ms {
	stroke: #7D602B;
}

.focus line.ytot_ms {
	stroke: #7D602B;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* time_ms */
.line.linetime_ms {
	stroke: #7D602B;
}

.focus circle.ytime_ms {
	stroke: #7D602B;
}

.focus line.ytime_ms {
	stroke: #7D602B;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* rt_min */
.line.linert_min {
	stroke: #660099;
}

.focus circle.yrt_min {
	stroke: #660099;
}

.focus line.yrt_min {
	stroke: #660099;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* rt_max */
.line.linert_max {
	stroke: #669900;
}

.focus circle.yrt_max {
	stroke: #669900;
}

.focus line.yrt_max {
	stroke: #669900;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* rt_avg */
.line.linert_avg {
	stroke: #333333;
}

.focus circle.yrt_avg {
	stroke: #333333;
}

.focus line.yrt_avg {
	stroke: #333333;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* rt_std */
.line.linert_std {
	stroke: #FF9900;
}

.focus circle.yrt_std {
	stroke: #FF9900;
}

.focus line.yrt_std {
	stroke: #FF9900;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* loss_ */
.line.lineloss_ {
	stroke: #CC0000;
}

.focus circle.yloss_ {
	stroke: #CC0000;
}

.focus line.yloss_ {
	stroke: #CC0000;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* state */
.line.linestate {
	stroke: steelblue;
	stroke-width: 0.5;
}

.line.areastate {
	stroke: steelblue;
	fill-opacity: .1;
	fill: steelblue;
}

.focus circle.ystate {
	stroke: steelblue;
}

.focus line.ystate {
	stroke: steelblue;
	stroke-dasharray: 3 3;
	opacity: .5;
}

div.map_tooltip {
	position: absolute;
	text-align: left;
	width: 200px;
	height: 70px;
	padding: 8px;
	font: 11px sans-serif;
	background: #FFFFFF;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
	color: #585956;
}

div.tooltip {
	position: absolute;
	text-align: left;
	padding: 8px;
	font: 11px sans-serif;
	background: #FFFFFF;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
	color: #585956;
}

div.debug {
	position: absolute;
	z-index: 1;
	text-align: left;
	width: 450px;
	height: 250px;
	padding: 4px;
	font: 11px sans-serif;
	background: #FFFFFF;
	border: solid 1px #aaa;
	border-radius: 8px;
	color: #585956;
}

.debug_ifr {
	position: absolute;
	z-index: 1;
	width: 430px;
	height: 225px;
	font-size: 11px;
	border: 0px;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.legendTb {
	width: 120%;
	display: inline-block;
	border-collapse: collapse;
	border-spacing: 0px;
	font: 11px sans-serif;
	color: #585956;
}

.legendTb tr {
	border-bottom: 1px solid grey;
}

.legendTb tr:first-child {
	border-top: 1px solid grey;
}

.legendTb td {
	padding: 4px 13px;
}

.legendTbName {
	align: right;
	width: 150px;
}

.legendTbSum .legendTbMean .legendTbPerc {
	align: right;
	width: 100px;
}

.legendTbMean {
	font: 11px sans-serif;
	color: #ff0f1e;
}

#diagram {
	width: 800px;
}

.flt {
	width: 26%;
	height: 100px;
	margin-top: 20px;
	float: left;
}

.frt {
	width: 38%;
	height: 100px;
	margin-top: 20px;
	float: left;
}

.gauge {
	width: 26%;
	margin-left: 60px;
	margin-top: 15px;
	margin-bottom: -30px;
	float: right;
}

.gauge_stroke {
	stroke: #fff;
}

path:hover {
	opacity: 0.9;
}

.gauge g.arc {
	fill: steelblue;
}

.gauge g.pointer {
	fill: #e85116;
	stroke: #b64011;
}

.gauge g.label text {
	font: 12px sans-serif;
	fill: #585956;
}

.gauge g.title text {
	font: 12px sans-serif;
	fill: #585956;
}

.gauge g.art text {
	font: 12px sans-serif;
	fill: #ff0f1e;
}

.miniSvg-component {
	background-color: #C4C4C4;
	margin-left: 40px;
}

.map-top {
	position: relative;
	z-index: 1;
	float: left;
	left: 10px;
	top: -300px;
}

.map-bar {
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	border-radius: 4px;
}

.map-popup-pane, .map-control {
	cursor: auto;
}

.map-control {
	margin-top: 10px;
	float: right;
	clear: both;
}

.map-control {
	position: relative;
	z-index: 7;
	pointer-events: auto;
}

.map-control-zoom-in, .map-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}

.map-bar a, .map-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}

.map-bar a, .map-bar a:hover {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	width: 26px;
	height: 26px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}

.map-control-navbar-home {
	background-image: url("/assets/home.png");
}

.map-control-navbar-fwd {
	background-image: url("/assets/arrow_right.png");
}

.map-control-navbar-back {
	background-image: url("/assets/arrow_left.png");
}
