.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the gets side spacing for mobile first views */
.header, .footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header, .footer {
		padding-left: 0;
		padding-right: 0;
	}

	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
}

/*
.x.axis path {
  display: none;
}
*/
.line {
	stroke: black;
	fill: none;
	stroke-width: 0.75px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.focus circle {
	fill: none;
}

.focus line {
	stroke: purple;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brushstart .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brushend .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.legend rect {
	fill: white;
	stroke: black;
	opacity: 0.9;
}

#states path {
	fill: #ccc;
	stroke: #fff;
}

circle {
	fill: steelblue;
	fill-opacity: .6;
	stroke: #fff;
}

/* Judge */
.line.lineJudge {
	stroke: steelblue;
	fill-opacity: .1;
	fill: red;
}

.focus circle.yJudge {
	stroke: steelblue;
}

.focus line.yJudge {
	stroke: steelblue;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* DNSLookup */
.line.lineDNSLookup {
	stroke: green;
}

.focus circle.yDNSLookup {
	stroke: green;
}

.focus line.yDNSLookup {
	stroke: green;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* TimeToConnect */
.line.lineTimeToConnect {
	stroke: gray;
}

.focus circle.yTimeToConnect {
	stroke: gray;
}

.focus line.yTimeToConnect {
	stroke: gray;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* TimeToFirstByte */
.line.lineTimeToFirstByte {
	stroke: yellow;
}

.focus circle.yTimeToFirstByte {
	stroke: yellow;
}

.focus line.yTimeToFirstByte {
	stroke: yellow;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* RoundtripTime */
.line.lineRoundtripTime {
	stroke: pink;
}

.focus circle.yRoundtripTime {
	stroke: pink;
}

.focus line.yRoundtripTime {
	stroke: pink;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* Aggregateuptime */
.line.lineAggregateuptime {
	stroke: blue;
}

.focus circle.yAggregateuptime {
	stroke: blue;
}

.focus line.yAggregateuptime {
	stroke: blue;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* ServiceState */
.line.lineServiceState {
	stroke: red;
}

.focus circle.yServiceState {
	stroke: red;
}

.focus line.yServiceState {
	stroke: red;
	stroke-dasharray: 3 3;
	opacity: .5;
}