.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

/* Space out content a bit */
body {
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Everything but the gets side spacing for mobile first views */
.header, .footer {
	padding-left: 15px;
	padding-right: 15px;
}

/* Custom page header */
.header {
	border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 40px;
	padding-bottom: 19px;
}

/* Custom page footer */
.footer {
	padding-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.container-narrow>hr {
	margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
	.container {
		max-width: 730px;
	}

	/* Remove the padding we set earlier */
	.header, .footer {
		padding-left: 0;
		padding-right: 0;
	}

	/* Space out the masthead */
	.header {
		margin-bottom: 30px;
	}
}

div {
	font: 11px sans-serif;
}

text {
	font: 11px sans-serif;
}

div.combo {
	display: inline-block;
	width: 200px;
	margin: 1em;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
	color: #585956;
}

.line {
	stroke: black;
	fill: none;
	stroke-width: 0.75px;
}

.overlay {
	fill: none;
	pointer-events: all;
}

.focus circle {
	fill: none;
}

.focus line {
	stroke: purple;
	shape-rendering: crispEdges;
}

.brush .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brushstart .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.brushend .extent {
	stroke: #fff;
	fill-opacity: .125;
	shape-rendering: crispEdges;
}

.legend rect {
	fill: white;
	/* 	stroke: #7e7f74; */
	opacity: 0.9;
}

#states path {
	fill: #ccc;
	stroke: #fff;
}

circle {
	fill: steelblue;
	fill-opacity: .6;
	stroke: #fff;
}

/* judge */
.line.linejudge {
	stroke: #dc291e;
	fill-opacity: .1;
	fill: #dc291e;
}

.line.areajudge {
	stroke: #dc291e;
	fill-opacity: .1;
	fill: #dc291e;
}

.focus circle.yjudge {
	stroke: #dc291e;
}

.focus line.yjudge {
	stroke: #dc291e;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* nsl_ms */
.line.linensl_ms {
	stroke: #81bc00;
}

.focus circle.ynsl_ms {
	stroke: #81bc00;
}

.focus line.ynsl_ms {
	stroke: #81bc00;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* con_ms */
.line.linecon_ms {
	stroke: #7e7f74;
}

.focus circle.ycon_ms {
	stroke: #7e7f74;
}

.focus line.ycon_ms {
	stroke: #7e7f74;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* tfb_ms */
.line.linetfb_ms {
	stroke: #ffa400;
}

.focus circle.ytfb_ms {
	stroke: #ffa400;
}

.focus line.ytfb_ms {
	stroke: #ffa400;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* tot_ms */
.line.linetot_ms {
	stroke: #7D602B;
}

.focus circle.ytot_ms {
	stroke: #7D602B;
}

.focus line.ytot_ms {
	stroke: #7D602B;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* aggregate */
.line.lineaggregate {
	stroke: #236093;
}

.line.areaaggregate {
	stroke: #236093;
	fill-opacity: .5;
	fill: white;
}

.focus circle.yaggregate {
	stroke: #236093;
}

.focus line.yaggregate {
	stroke: #236093;
	stroke-dasharray: 3 3;
	opacity: .5;
}

/* state */
.line.linestate {
	stroke: steelblue;
	fill-opacity: .1;
	fill: steelblue;
}

.focus circle.ystate {
	stroke: steelblue;
}

.focus line.ystate {
	stroke: steelblue;
	stroke-dasharray: 3 3;
	opacity: .5;
}

div.tooltip {
	position: absolute;
	text-align: left;
	width: 100px;
	height: 70px;
	padding: 8px;
	font: 11px sans-serif;
	background: #FFFFFF;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
	color: #585956;
}

div.tooltip2 {
	position: absolute;
	text-align: left;
	width: 250px;
	height: 150px;
	padding: 8px;
	font: 11px sans-serif;
	background: #FFFFFF;
	border: solid 1px #aaa;
	border-radius: 8px;
	pointer-events: none;
	color: #585956;
}

path {
	stroke: #fff;
}

path:hover {
	opacity: 0.9;
}

.legend2 tr {
	border-bottom: 1px solid grey;
}

.legend2 tr:first-child {
	border-top: 1px solid grey;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.legend2 {
	margin-bottom: 20px;
	display: inline-block;
	border-collapse: collapse;
	border-spacing: 0px;
	font: 11px sans-serif;
	color: #585956;
}

.legend2 td {
	padding: 4px 5px;
}

.legend2Name .legend2Freq, .legend2Perc {
	align: right;
	width: 100px;
}

#diagram {
	width: 800px;
}

span {
	width: 250px;
	height: 100px;
}

.flt {
	margin-top: 10px;
	float: left;
}

.frt {
	margin-top: 20px;
	float: right;
}

.miniSvg-component {
	background-color: #C4C4C4;
	margin-left: 40px;
}